.page
{
  height: 100%;
}

.mat-header-cell {
  padding: 8px 16px;
}

.tree-panel
{
  height: calc(100% - 12px);    /* ความสูงเต็มหน้าจอ */
  width: calc(100% - 12px);     /* กว้างเต็ม */
  border-radius: 25px;         /* มุมโค้งมน */
  background-color: gray;    /* สีพื้นหลัง (เปลี่ยนได้) */
  padding: 20px;               /* ระยะห่างภายใน */
  box-sizing: border-box;      /* นับ padding ในขนาดรวม */
  margin: 5px;
}

.mat-tree-node:hover
{
  cursor: pointer; /* เปลี่ยน cursor เป็นรูปมือ */
  color: black; /* เปลี่ยนสีตัวอักษร */
  font-weight: bold;
  background-color:lightgray; /* เปลี่ยนสีพื้นหลัง */   
  transition: all 0.3s ease; /* ให้การเปลี่ยนแปลงมีความนุ่มนวล */
  cursor: pointer; /* เปลี่ยน cursor เป็นรูปมือ */
}

.drawer-content
{
  height: calc(100% - 12px);      
  background-color:lightgray;
  border-radius: 25px;         /* มุมโค้งมน */
  padding: 15px;               /* ระยะห่างภายใน */
  box-sizing: border-box;      /* นับ padding ในขนาดรวม */ 
  margin: 5px;
}

.div-tab-attributes
{
  background-color: azure;
  justify-items: center;    
  min-height: var(--container-height); /* ใช้ตัวแปร */ 
}

button
{
  width: 100px;
}

.mat-card
{
  width:98%;
  background-color: white;
  color: blue;
}

.div-table-container
{  
  width: calc(100% - 10px);
  align-self: self-start;
  height: var(--table-key-value-height);
  overflow: auto; /* ทำให้ตารางสามารถเลื่อน (scroll) ได้ */
  display: block;
  background-color: lightgray;
  text-align: center;
  padding: 5px;
}
  
.mat-header-row 
{
   position: sticky;
   top: 0; /* ทำให้ header คงที่ตอนเลื่อน */
   z-index: 1; /* ให้ header อยู่ด้านบนสุด */
   background-color: gray;/* เปลี่ยนพื้นหลังเพื่อให้ header ดูเด่น */
}  

.view-container
{
  display:flex;  
  width: 95%; /* กำหนดความกว้างของ container ให้เต็มหน้าจอ */   
  grid-template-columns: 1fr 1fr; /* สร้าง 2 คอลัมน์ */
  gap: 20px; /* กำหนดระยะห่างระหว่าง container */
}
  
.half-column-container 
{   
  display: block;
  width:50%; /* กำหนดความกว้างของแต่ละคอลัมน์ให้เป็น 50% */   
  background-color: white; 
  padding: 10px; /* ปรับระยะห่างภายใน */
  border-radius: 25px;         /* มุมโค้งมน */
  padding: 15px;               /* ระยะห่างภายใน */   
  box-sizing: border-box; /* คำนวณ padding ในขนาดของ element */
}

.json-object-textarea
{  
  width: calc(100% - 10px);  
  margin-left: 0px;  
  margin-right: 0px;  
  height: var(--table-key-value-height);
  background-color: whitesmoke;
}

.div-property
{
  width: 100%;    
  display: block;
  max-height: var(--table-key-value-height);
  overflow: auto; 
  overflow-x: hidden;  
  background-color: whitesmoke;
}

.grid-container 
{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, auto);  
  width: 100%;                            
  gap: 1px;
}

.caption-grid-item 
{    
  background-color: white;
  color: black;
  padding: 2px;    
  display: flex;
  justify-content: flex-end;   /* ชิดขวา */
  align-items: center;         /* กึ่งกลางแนวตั้ง */
}

.input-grid-item 
{
  background-color:whitesmoke;
  color: black;
  padding: 2px;
  text-align: left;
  border-radius: 4px;
}


