:root 
{
    --header-height: 64px;
    --header-background-color: lightgray;
    --footer-height: 32px;
    --footer-background-color: lightgray;

    --main-background-color:lavender;  
    --app-toolbar-background-color: lightcoral;
    --app-drawer-background-color:lightblue;

    --outlet-height: calc(100vh - (var(--header-height) + var(--footer-height)));

    --table-key-value-height: 270px;
}

.form-title
{
    display: flex;
    padding: 5px;
    background-color: gray;
    color:white;
    width: calc(100% - 10px);
    border-style: groove;
}

/* ใช้ CSS selector ที่ตรงกับ MDC */
.mdc-tab-group
{
    background-color: darkgray !important;  /* สีพื้นหลังเป็นสีเทา */
}
.mdc-tab.mdc-tab--active {
    background-color: darkgray !important;  /* สีพื้นหลังเป็นสีเทา */
    font-weight: bold !important;          /* ตัวอักษรหนา */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;  
    box-shadow: inset 5px 5px 10px rgba(100, 100, 100, 0.4); 
}

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
